{% extends 'home/header.html' %}
{% block title %}Ads{% endblock %}
{% block content %}
    <h1>Ads</h1>
    {% if ads %}
        {% for ad in ads %}
            <ul>
                <p><li>
                <h5><a href = "{% url 'ads:ad_detail' ad.id %}">{{ ad.title }}</a></h5>( <a href="{% url 'ads:ad_update' ad.id %}">Update</a> | <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a> )
                <br>
            </li></p>
            </ul>
        {%endfor%}
        <p>
            <a href="{% url 'ads:ad_create' %}">Create an Ad</a>
        </p>
    {% else %}
        <p><br><br>Please <a href="{% url 'ads:ad_create' %}">create</a> an ad first using the link below</p>
    {% endif %}
{% endblock %}